<h2>Show company</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @company.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @company.address %>
  </li>

  <li>
    <strong>Phone number:</strong>
    <%= @company.phone_number %>
  </li>

</ul>

<%= link "Edit", to: company_path(@conn, :edit, @company) %>
<%= link "Back", to: company_path(@conn, :index) %>
