<h2>Edit property manager</h2>

<%= render "form.html", changeset: @changeset,
                        action: property_manager_path(@conn, :update, @property_manager) %>

<%= link "Back", to: property_manager_path(@conn, :index) %>
